<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <connectionStrings>
    <remove name="mySQLconn"/>
    <add name="mySQLconn" connectionString="Data Source=localhost;Database=city_data;User ID=root; Password=''" providerName="MySql.Data.MySqlClient"/>
    <!--<add name="mySQLconn" connectionString="Server=198.71.225.64; Port=3306; Database=edawaapp;User Id=edawaapp; Pooling=True; Password=edawaapp@123; Persist Security Info=True" providerName="MySql.Data.MySqlClient"/>-->
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.5" debug="true"/>
    <customErrors mode="Off"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <securityPolicy>
      <trustLevel name="Full" policyFile="internal"/>
    </securityPolicy>
    <trust level="Full"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
</configuration>